obj/Debug/
obj/Debug/net8.0-android/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-android/ClinicaVet.AssemblyInfoInputs.cache
obj/Debug/net8.0-ios/iossimulator-x64/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-ios/iossimulator-x64/ClinicaVet.AssemblyInfoInputs.cache
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ClinicaVet.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ClinicaVet.AssemblyInfoInputs.cache
bin/Debug/net8.0-android/ClinicaVet.dll
bin/Debug/net8.0-android/ClinicaVet.pdb
bin/Debug/net8.0-android/ClinicaVet.xml
bin/Debug/net8.0-android/com.companyname.clinicavet-Signed.apk
bin/Debug/net8.0-android/com.companyname.clinicavet-Signed.apk.idsig
bin/Debug/net8.0-android/com.companyname.clinicavet.apk
ClinicaVet.csproj
ClinicaVet.csproj.user
obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
obj/Debug/net8.0-android/android/assets/_Microsoft.Android.Resource.Designer.dll
obj/Debug/net8.0-android/android/assets/ClinicaVet.dll
obj/Debug/net8.0-android/android/assets/ClinicaVet.pdb
obj/Debug/net8.0-android/android/bin/classes.dex
obj/Debug/net8.0-android/android/bin/classes.zip
obj/Debug/net8.0-android/android/bin/classes/androidx/appcompat/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/constraintlayout/widget/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/core/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/customview/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/dynamicanimation/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/legacy/coreutils/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/loader/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/swiperefreshlayout/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/transition/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/vectordrawable/animated/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/vectordrawable/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/viewpager/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/androidx/viewpager2/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/com/bumptech/glide/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$id.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$integer.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$interpolator.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$layout.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$mipmap.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$plurals.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$string.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$style.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$styleable.class
obj/Debug/net8.0-android/android/bin/classes/com/companyname/clinicavet/R$xml.class
obj/Debug/net8.0-android/android/bin/classes/com/google/android/material/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes/com/microsoft/maui/R$drawable.class
obj/Debug/net8.0-android/android/bin/classes2.dex
obj/Debug/net8.0-android/android/bin/com.companyname.clinicavet.apk
obj/Debug/net8.0-android/android/bin/packaged_resources
obj/Debug/net8.0-android/android/environment.x86_64.ll
obj/Debug/net8.0-android/android/environment.x86_64.o
obj/Debug/net8.0-android/android/src/androidx/appcompat/R.java
obj/Debug/net8.0-android/android/src/androidx/constraintlayout/widget/R.java
obj/Debug/net8.0-android/android/src/androidx/core/R.java
obj/Debug/net8.0-android/android/src/androidx/customview/R.java
obj/Debug/net8.0-android/android/src/androidx/dynamicanimation/R.java
obj/Debug/net8.0-android/android/src/androidx/legacy/coreutils/R.java
obj/Debug/net8.0-android/android/src/androidx/loader/R.java
obj/Debug/net8.0-android/android/src/androidx/swiperefreshlayout/R.java
obj/Debug/net8.0-android/android/src/androidx/transition/R.java
obj/Debug/net8.0-android/android/src/androidx/vectordrawable/animated/R.java
obj/Debug/net8.0-android/android/src/androidx/vectordrawable/R.java
obj/Debug/net8.0-android/android/src/androidx/viewpager/R.java
obj/Debug/net8.0-android/android/src/androidx/viewpager2/R.java
obj/Debug/net8.0-android/android/src/com/bumptech/glide/R.java
obj/Debug/net8.0-android/android/src/com/companyname/clinicavet/R.java
obj/Debug/net8.0-android/android/src/com/google/android/material/R.java
obj/Debug/net8.0-android/android/src/com/microsoft/maui/R.java
obj/Debug/net8.0-android/app_shared_libraries/x86_64/libxamarin-app.so
obj/Debug/net8.0-android/build.props
obj/Debug/net8.0-android/buildid.txt
obj/Debug/net8.0-android/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-android/ClinicaVet.AssemblyInfoInputs.cache
obj/Debug/net8.0-android/ClinicaVet.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-android/ClinicaVet.csproj.FileListAbsolute.txt
obj/Debug/net8.0-android/ClinicaVet.dll
obj/Debug/net8.0-android/ClinicaVet.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-android/ClinicaVet.pdb
obj/Debug/net8.0-android/designtime/build.props
obj/Debug/net8.0-android/libraryprojectimports.cache
obj/Debug/net8.0-android/lp/100/jl/res.zip
obj/Debug/net8.0-android/lp/103/jl/res.zip
obj/Debug/net8.0-android/lp/104/jl/res.zip
obj/Debug/net8.0-android/lp/105/jl/res.zip
obj/Debug/net8.0-android/lp/106/jl/res.zip
obj/Debug/net8.0-android/lp/107/jl/res.zip
obj/Debug/net8.0-android/lp/108/jl/res.zip
obj/Debug/net8.0-android/lp/110/jl/res.zip
obj/Debug/net8.0-android/lp/111/jl/res.zip
obj/Debug/net8.0-android/lp/112/jl/res.zip
obj/Debug/net8.0-android/lp/113/jl/res.zip
obj/Debug/net8.0-android/lp/116/jl/res.zip
obj/Debug/net8.0-android/lp/118/jl/res.zip
obj/Debug/net8.0-android/lp/119/jl/res.zip
obj/Debug/net8.0-android/lp/122/jl/res.zip
obj/Debug/net8.0-android/lp/123/jl/res.zip
obj/Debug/net8.0-android/lp/125/jl/res.zip
obj/Debug/net8.0-android/lp/127/jl/res.zip
obj/Debug/net8.0-android/lp/128/jl/res.zip
obj/Debug/net8.0-android/lp/129/jl/res.zip
obj/Debug/net8.0-android/lp/130/jl/res.zip
obj/Debug/net8.0-android/lp/131/jl/res.zip
obj/Debug/net8.0-android/lp/132/jl/res.zip
obj/Debug/net8.0-android/lp/133/jl/res.zip
obj/Debug/net8.0-android/lp/134/jl/res.zip
obj/Debug/net8.0-android/lp/135/jl/res.zip
obj/Debug/net8.0-android/lp/136/jl/res.zip
obj/Debug/net8.0-android/lp/137/jl/res.zip
obj/Debug/net8.0-android/lp/138/jl/res.zip
obj/Debug/net8.0-android/lp/139/jl/res.zip
obj/Debug/net8.0-android/lp/140/jl/res.zip
obj/Debug/net8.0-android/lp/141/jl/res.zip
obj/Debug/net8.0-android/lp/142/jl/res.zip
obj/Debug/net8.0-android/lp/143/jl/res.zip
obj/Debug/net8.0-android/lp/144/jl/res.zip
obj/Debug/net8.0-android/lp/145/jl/res.zip
obj/Debug/net8.0-android/lp/146/jl/res.zip
obj/Debug/net8.0-android/lp/147/jl/res.zip
obj/Debug/net8.0-android/lp/148/jl/res.zip
obj/Debug/net8.0-android/lp/150/jl/res.zip
obj/Debug/net8.0-android/lp/152/jl/res.zip
obj/Debug/net8.0-android/lp/155/jl/res.zip
obj/Debug/net8.0-android/lp/156/jl/res.zip
obj/Debug/net8.0-android/lp/157/jl/res.zip
obj/Debug/net8.0-android/lp/158/jl/res.zip
obj/Debug/net8.0-android/lp/159/jl/res.zip
obj/Debug/net8.0-android/lp/93/jl/res.zip
obj/Debug/net8.0-android/lp/94/jl/res.zip
obj/Debug/net8.0-android/lp/95/jl/res.zip
obj/Debug/net8.0-android/lp/96/jl/res.zip
obj/Debug/net8.0-android/lp/97/jl/res.zip
obj/Debug/net8.0-android/lp/99/jl/res.zip
obj/Debug/net8.0-android/mauiimage.inputs
obj/Debug/net8.0-android/R.txt
obj/Debug/net8.0-android/resizetizer/2E90E89EAD89A570-files.cache
obj/Debug/net8.0-android/resizetizer/flat/drawable-hdpi_banner.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-hdpi_logo_solo.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-mdpi_banner.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-mdpi_logo_solo.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-xhdpi_banner.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-xhdpi_logo_solo.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-xxhdpi_banner.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-xxhdpi_logo_solo.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-xxxhdpi_banner.png.flat
obj/Debug/net8.0-android/resizetizer/flat/drawable-xxxhdpi_logo_solo.png.flat
obj/Debug/net8.0-android/resizetizer/r/drawable-hdpi/banner.png
obj/Debug/net8.0-android/resizetizer/r/drawable-hdpi/logo_nome.png
obj/Debug/net8.0-android/resizetizer/r/drawable-hdpi/logo_solo.png
obj/Debug/net8.0-android/resizetizer/r/drawable-mdpi/banner.png
obj/Debug/net8.0-android/resizetizer/r/drawable-mdpi/logo_nome.png
obj/Debug/net8.0-android/resizetizer/r/drawable-mdpi/logo_solo.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xhdpi/banner.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xhdpi/logo_nome.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xhdpi/logo_solo.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xxhdpi/banner.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xxhdpi/logo_nome.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xxhdpi/logo_solo.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xxxhdpi/banner.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xxxhdpi/logo_nome.png
obj/Debug/net8.0-android/resizetizer/r/drawable-xxxhdpi/logo_solo.png
obj/Debug/net8.0-ios/iossimulator-x64/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-ios/iossimulator-x64/ClinicaVet.AssemblyInfoInputs.cache
obj/Debug/net8.0-ios/iossimulator-x64/ClinicaVet.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ClinicaVet.AssemblyInfoInputs.cache
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ClinicaVet.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ClinicaVet.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ClinicaVet.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ClinicaVet.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/mauiimage.inputs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/banner.scale-100.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/banner.scale-125.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/banner.scale-150.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/banner.scale-200.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/banner.scale-400.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_nome.scale-100.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_nome.scale-125.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_nome.scale-150.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_nome.scale-200.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_nome.scale-400.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_solo.scale-100.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_solo.scale-125.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_solo.scale-150.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_solo.scale-200.png
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/logo_solo.scale-400.png
